.idea/
venv/
.venv/
pytest_nuts.egg-info/
__pycache__
.vscode/
docs/build/
inventory/
nr-config.yaml
.pytest_cache/
.tox/
.mypy_cache/

test-reports/
.coverage

# ignore dists
dist/

tests/
.git/
.github/
Dockerfile
.dockerignore
